body{
        margin:0;
        padding:0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: darkseagreen;
    }

    header{
        background: #2b303b;
        height: 50px;
        width:100%;
        display: flex;
        color:#fff;
    }

    .subheader{
        margin: 20px;
        text-align: center;
    }
    